/* @import "./style/custom.css"; */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-image {
  background-image: url("./images/pine-tree.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-about {
  display: grid;
  background-color: rgb(28, 68, 28);
  height: 50vh;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}
